@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
  
    font-family: 'Work Sans', sans-serif;
   
}
.game-title{
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
}
.game-description{
    margin: 15px 0px;
    font-size: 1rem;
    color: #534C64;
    font-style: normal;
    font-weight: 400;
}
.text-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* header section starts */
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}
nav{
    display: flex;
   align-items: center;
   margin: 20px;
   padding: 30px;
   justify-content: space-between;
   align-items: center;
  
}
.nav-logo{
    padding-left: 30px;
    display: flex;
}

.logo-name{
    font-size: 3.50rem;
}
.nav-logo img{
    width: 46px;
    margin: 10px;
    margin-right: 20px;
    
}
#G{
    color: #FF42A5;
}

.nav-items ul{
    display: flex;
    list-style: none;
    align-items: center;
   
}
.nav-items ul li{
    margin-right: 30px;
    font-size: 1.10rem;
    padding: 18px;
}
.social-media{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.fa-brands{
   margin-left: 10px;
}

/* banner section starts */
.banner{
    display: flex;
    width: 80%;
    height: calc(100vh-70px);
    margin: auto;
    justify-content: space-between;
    align-items: center;

 
}
.banner-container{
    width: 50%;
   list-style: none;
   background-image: url(./images/Group\ 14.png);
   background-repeat: no-repeat;
   background-position: right;
   
}
.banner-container li{
    font-size: 1.25rem;
    margin-bottom: 14px;
}

.banner-goat{
    font-size: 5.20rem;
    font-style: normal;
   font-weight: 800;
   margin: 25px 0px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-primary{
    padding: 18px 30px;
    font-size: 1.20rem;
    color: #FFF;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
}
.btn-primary:hover{
    color:black ;
    background: linear-gradient(45deg, #fbd7ea,#FF42A5 ) ;
}
.btn-secondary{
    border-radius: 48px;
    background: #4EC5F7;
    font-size: 1.20rem;
    color: #FFF;
    padding: 18px 30px;
    border: none;
}
.btn-secondary:hover{
    color:black ;
    background: linear-gradient(45deg, #f863b3,#4EC5F7)
}

.banner-img img{
    width: 90%;
    height: 60%;
}


/* Online games section starts */



.games-content{
    text-align: center;
    margin:  100px 0px 55px;
}
.online-games{
   
     margin: 90px;
}

.card-items{
    display: flex;
    width: 80%;
    margin: auto;
    text-align: center;

}

.card{
   
    justify-content: space-around;
}
.card img {
    width: 90%;
    height: 70%;
}
.card img:hover{
    cursor: pointer;
    border: 2px solid  #FF42A5;
    box-shadow: 5px 5px 10px  #FF42A5;
    border-radius: 12px;
    opacity: 0.7;
    background-image:url( <i class="fa-solid fa-play" style="color: #f71d69;"></i>);
}


/* online game button  hover starts */

.card {
    position: relative;
    display: inline-block;
}

.button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  
.card:hover .button-overlay {
    opacity: 1;
  
}
 
.button-icon {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
}
  
.button-icon i  {
    font-size: 20px;
}
  
/* online game button starts */

/* now play games section starts */

.play-game-container{
  text-align: left;
  padding-right: 40px;
  width: 100%;
  
}

.instant{
    width: 80%;
}
.play-game{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
   
}
.play-game-box{
    width: 90%;
    height: 40%;
   
}
.play-game-box .game-main-card{
    height: 80%;
    width: 80%;
}
.play-game-box .game-card{
    height: 50%;
    width: 30%;
    position: relative;
    top: -110px;
    left: -60px;
}

/* pop up section starts */

.pop-up{
    margin-bottom: 50px ;
}

.pop-up-container{
    display: flex;
    width: 80%;

    margin: auto;
   display: flex;
  flex-wrap: wrap;
    Justify-content:center;
    align-items:center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.pop-up-button p{
    font-size: 14px;
}
.pop-up-button{
    display: flex;
    margin: 15px;
    align-items: center;
    padding: 8px;
    background-color: #FFF;
    border-radius: 25px;
}

.pop-up-button:hover{
    color: #F948B2;
    border: 1px solid #FF42A5;
    border-radius: 20px;
}       
.pop-up-button img{
    width: 30px;
    margin-right: 10px;
}


/* footer section starts */
footer{
    /* height: 100vh; */
    text-align: center;
    background: #0B0223;
    color: white;
   
}
.footer-container{
    width: 60%;
    margin: auto;
}
.footer-title{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    padding-top: 40px;
}
.life-style{
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* gap: 50px; */
}

.social-link{
    margin: 40px 0px;
}
.social-link i{
 
 
}
.fa-brands{
    margin: 10px;
    /* width: 30px; */
    font-size: 30px;
}
.footer-policy{
    display: flex;
    justify-content: space-around;
  
}
.copy-right{
    text-align: center;
    padding-bottom: 30px;
    margin-top: 30px;
}

/* media queary section starts */

@media screen and (max-width:576px) {
    nav, .nav-items ul, .banner, .card-items,
    .play-game {
        flex-direction: column;
    }
    .nav-items ul li{
        padding: 5px 5px;
        margin-top: 5px;
    }

    /* banner section starts */
    .game-title, .banner-goat {
        /* text-align:center ; */
    }

    .banner-container{
        width: 90%;
    }
    .game-title{
        font-size: 30px;
    }
    .game-description{
        margin: 10px 0px;
        font-size: .80rem;
    }
    .banner-goat{
        font-size: 4rem;
        margin: 15px 0px;
    }
    .banner-container li{
        font-size: .85rem;
    }
    .btn-primary, .btn-secondary{
        padding: 14px 22px;
        font-size: 1rem;
    }
    /* online-game section starts */
    .online-games{
        margin: 20px;
    }
    .games-content{
        margin: 40px 0px 2px;
    }
    .card-items{
        width: 90%;
        margin: 30px 0px;
    }
    .card{
        margin-top: 20px;
        /* margin: auto; */
        padding-left: 40px ;
        /* text-align: center; */
    }
    .card-items{
        /* text-align: center; */
    }
    /* now play game section starts */
    .play-game-container{
        text-align: center;
        padding: 0px;
    }
    .instant{
        /* width: 80%; */
        margin: auto;
        padding: 20px 0px;
    }
    .play-game-box{
        margin-left: 130px;
    }

    /* pop-up section starts */
    .pop-up-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .pop-up-button{
        margin: 8px;
        padding: 5px;
    }
    .pop-up-button p{
        font-size: 12px;
    }
    /* footer section starts */
    .footer-container{
        width: 80%;
    }
    .life-style{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
    }
    .life-style p,  .footer-policy p{
        font-size: 14px;
        margin: 10px 0px;
    }
    .social-link{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .footer-policy{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .copy-right{
        font-size: 14px;
    }

}

/* medium device query */
@media screen and (min-width:576px) and (max-width:991px){
    nav, .nav-items ul, .banner, .card-items,
    .play-game {
        flex-direction: column;
    }
    .card-items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: auto;
    }
    .game-title{
        font-size: 40px;
    }
    .game-description{
        margin: 20px 0px;
        font-size: 1.2orem;
    }
    .banner-goat{
        font-size: 4.20rem;
        margin: 15px 0px;
    }
    .banner-container li{
        font-size: 1.20rem;
    }
    .play-game-container{
        text-align: center;
    }
    .play-game-box{
        padding-left: 140px;
    }

    .footer-container{
        width: 80%;
    }
    .life-style{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
    }
    .life-style p,  .footer-policy p{
        font-size: 18px;
        margin: 15px 0px;
    }
    .social-link{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .footer-policy{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .copy-right{
        font-size: 18px;
    }

}