@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
  
    font-family: 'Work Sans', sans-serif;
   
}
.game-title{
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
}
.game-description{
    margin: 15px 0px;
    font-size: 1.2rem;
    color: #534C64;
    font-style: normal;
    font-weight: 400;
}
.text-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}
nav{
    display: flex;
   align-items: center;
   margin: 40px;
   padding: 30px;
   justify-content: space-between;
  
}
.nav-logo{
    padding-left: 30px;
    /* width: 50%; */
    display: flex;
}

.logo-name{
    font-size: 3.50rem;
}
.nav-logo img{
    width: 46px;
    margin: 10px;
    margin-right: 20px;
    
}
#G{
    color: #FF42A5;
}

.nav-items ul{
    display: flex;
    list-style: none;
   
}
.nav-items ul li{
    margin-right: 30px;
    font-size: 1.20rem;
    padding: 20px;
}
.social-media{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.fa-brands{
   margin-left: 10px;
}

/* banner section starts */
.banner{
    display: flex;
    width: 80%;
    height: calc(100vh-70px);
    margin: auto;
    justify-content: space-between;
    align-items: center;

 
}
.banner-container{
    width: 50%;
   list-style: none;
   background-image: url(./images/Group\ 14.png);
   background-repeat: no-repeat;
   background-position: right;
   
}
.banner-container li{
    font-size: 1.25rem;
    margin-bottom: 14px;
}

.banner-goat{
    font-size: 6.20rem;
    font-style: normal;
   font-weight: 800;
   margin: 30px 0px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-primary{
    padding: 21px 40px;
    font-size: 1.20rem;
    color: #FFF;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn-secondary{
    border-radius: 48px;
    background: #4EC5F7;
    font-size: 1.20rem;
    color: #FFF;
    padding: 21px 40px;
}

.banner-img img{
    width: 90%;
    height: 60%;
}


/* Online games section starts */
.games-content{
    text-align: center;
    margin:  100px 0px 55px;
}
.online-games{
    /* text-align: center; */
     margin: 90px;
}

.card-items{
    display: flex;
    width: 80%;
    margin: auto;
    text-align: center;

}
.card{
    /* width: 60%; */
    justify-content: space-around;
}
.card img {
    width: 90%;
    height: 70%;
}

/* now play games section starts */

.play-game-container{
  text-align: center;
  padding-right: 40px;
  width: 100%;
  
}

.instant{
    width: 80%;
}
.play-game{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
   
}
.play-game-box{
    width: 90%;
    height: 40%;
   
}
.play-game-box .game-main-card{
    height: 80%;
    width: 80%;
}
.play-game-box .game-card{
    height: 50%;
    width: 30%;
    position: relative;
    top: -110px;
    left: -60px;
}
